@font-face {
  font-family: SevenOneEight-Black;
  src: url(../fonts/SevenOneEight-Black.ttf);
}

@font-face {
  font-family: SevenOneEight-Book;
  src: url(../fonts/SevenOneEight-Book.ttf);
}
@font-face {
  font-family: SevenOneEight-ExtraBold;
  src: url(../fonts/SevenOneEight-ExtraBold.ttf);
}
@font-face {
  font-family: SevenOneEight-Light;
  src: url(../fonts/SevenOneEight-Light.ttf);
}
@font-face {
  font-family: SevenOneEight-Medium;
  src: url(../fonts/SevenOneEight-Medium.ttf);
}
