body {
  background-color: #efefef!important;
}

header {
  font-family: SevenOneEight-Black;
  text-align: center;

  h1 {
    color:#d82e23
  }

  h2 {
    font-family: SevenOneEight-Light;
  }
  
  select {
    background-image: url(../images/filter.png);
    background-position: left 0 center;
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 40px;
  }

  @media screen and (max-width: 640px) {
    font-size: 16px
  }
}


