/* 
  FONT-FACE
*/

@font-face {
  font-family: SevenOneEight-Black;
  src: url(../fonts/SevenOneEight-Black.ttf);
}

@font-face {
  font-family: SevenOneEight-Book;
  src: url(../fonts/SevenOneEight-Book.ttf);
}
@font-face {
  font-family: SevenOneEight-ExtraBold;
  src: url(../fonts/SevenOneEight-ExtraBold.ttf);
}
@font-face {
  font-family: SevenOneEight-Light;
  src: url(../fonts/SevenOneEight-Light.ttf);
}
@font-face {
  font-family: SevenOneEight-Medium;
  src: url(../fonts/SevenOneEight-Medium.ttf);
}


/* 
  DEFAULT
*/
body {
  background-color: #efefef;
  font-family: SevenOneEight-Black;
}

p {
  margin-bottom: 0;
}

button {
  background: #e83123;
  border: none;
  color: #FFF;
  font-family: SevenOneEight-Light;
  padding: 8px 32px;
}


/*
  SLIDER
*/

.slide-arrow-r {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%,-50%);
}

.slide-arrow-l {
  left: 0%;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
}


/*
  HEADER
*/

header {
  margin-bottom: 25px;
  text-align: center;
}

header > div > h1 {
  color:#d82e23
}

header > div > h2 {
  font-family: SevenOneEight-Light;
}

header > div > h2:after {
  background: #3c3c3c;
  content:'';
  display: block;
  height: 4px;
  margin: 20px auto;
  width: 80px;
}

header > select {
  background-image: url(../images/filter.png);
  background-position: left 0 center;
  background-repeat: no-repeat;
  border: 1px solid #454545;
  height: 40px;
  padding-left: 50px;
  text-transform: uppercase;
}

/*
  Main
*/
main {
  padding-bottom: 80px;
}

  /*
    CARDS
  */
    .cards {
      margin-bottom: 20px;
      border-radius: 14px;
    }
    
    .cards:hover {
      border-radius: 14px;
      box-shadow: 0px 0px 8px #333333;
      -moz-box-shadow:0px 0px 8px #333333;
      -webkit-box-shadow:0px 0px 8px #333333;
      cursor: pointer;
    }

    .cards > img {
      width: 100%;
    }

    .cards-content {
      background: #FFF;
      height: 74px;
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    .cards-content__title {
      font-weight: bold;
    }

    .cards-content__subtitle {
    font-weight: normal;
    }

    .cards-content__subtitle:before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 14px;
      background: #606060;
      margin-right: 6px;
      vertical-align: middle;
    }

    .tag-type {
      background: #000000;
      margin-right: 14px;
    }
    
    .tag-option {
      background: #bd9c6a;
    }
    
    .tag-option, .tag-type {
      color: #FFF;
      font-size: 9px;
      padding: 4px;
      text-transform: uppercase;
    }


    .display-arrowm {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

  /*
    HowToBenef
  */
    .howtobenef {
      margin: auto;
      text-align: center;
    }

    .howtobenef:after {
      content:'';
      display: block;
      width: 80px;
      height: 4px;
      margin: auto;
      background: #3c3c3c;
    }

    .howtobenef > p {
      font-family: SevenOneEight-Light;  
      display: block
    }
    .howtobenef > p > span {
      font-weight: bold;
      display: block
    }


  /*
    Alreadymember
  */

    .alreadymember {
      background: #ec3223;
      color: #FFF;
      text-align: center;
      margin: 20px 0;
      padding: 8px 0;
    }

    .alreadymember-link {
      font-family: SevenOneEight-Light;
    }

    .alreadymember > p > a {
      color: #FFF;
      display: block;
      text-decoration: underline;
    }

  /*
    STEP
  */

    .step {
      margin: 0 26px;
    }

    .step-message {
      font-family: SevenOneEight-Light;
    }

    .step-nb-color {
      display: inline-block;
      font-size: 80px;
    }

    .step-nb-color,
    .step-important-info {
      color: #ec3223
    }

/*
  Footer
*/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  background: #333333;
}

.emirates {
  font-weight: bold;
}

.howtojoin {
  font-family: SevenOneEight-Light;
}

.howtojoin:after {
  content:'';
  display: block;
  width: 80px;
  height: 4px;
  margin: auto;
  background: #e83123;
}




/*
  Media Query
*/
@media screen and (max-width: 640px) {
  header > div > h1 {
    font-size: 24px
  }
  header > div > h2 {
    font-size: 20px
  }

  .display-arrowd {
   display: none;
  }
}



@media screen and (min-width: 640px) {

  /*
    HEADER
  */
  header > div > h2:after {
    width: 150px;
  }
  
  /*
    Main
  */
    /*
      Cards
    */
    .desktop-parent-block {
      margin-bottom: 20px;
    }
    
    .desktop-block {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .cards {
      margin-bottom: 20px;
      border-radius: 14px;
      width: calc(1050px/3);
      display: inline-block;
    }
    
    .cards-content {
      height: 90px;
    }

    .howtobenef:after {
      width: 120px;
    }
    
    .display-arrowd {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }
    .display-arrowm {
      display: none;
    }
    
    .tag-option,
    .tag-type {
      font-size: 12px;
    }
    
    /*
      Alreadymember
    */
    .alreadymember > p > a {
      display: inline-block;
    }
    
    .alreadymember {
      max-width: 1140px;
      margin: 20px auto;
    }
    
    /*
      STEP
    */
    .step {
      display: flex;
      justify-content: space-around;
      max-width: 1140px;
      margin: auto;
    }
  
  /*
    FOOTER
  */
  .howtojoin:after {
    width: 120px;
  } 
}